<%= form_for [@game, @player] do |f| %>
  <%= f.collection_select :participant_id, Participant.order(:first_name), :id, :full_name, { include_blank: true } %>
  <%= f.label :finishing_place %>
  <%= f.text_field :finishing_place %>
  <%= f.label :additional_expense %>
  <%= f.text_field :additional_expense %>
  <%= f.submit "Score It!" %>
<% end %>

<div class="scored">
  <ul>
    <% @game.players_by_place.each do |player| %>
    <li>
      <%= player.full_name %><br />
      Place: <%= player.finishing_place %><br />
      Total Cost: <%= number_to_currency(player.total_expense) %>
    </li>
    <% end %>
  </ul>
</div>
