<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="actions row">
        <div class="col-btn col-sm-3 col-xs-12">
          <button id="new-league-button" type="button" class="btn btn-poker btn-block" data-toggle="modal" data-target="#newLeague">
            Create League
          </button>
        </div>
        <div class="col-btn col-sm-3 col-xs-12">
          <button id="new-player-button" type="button" class="btn btn-poker btn-block" data-toggle="modal" data-target="#newParticipant">
            Create Player
          </button>
        </div>
        <div class="col-btn col-sm-3 col-xs-12">
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h1>Your Leagues</h1>
        </div>
        <div class="panel-body">
          <% if @leagues.empty? %>
            <p>You don't currently have any leagues set up. Click the button above to create one!</p>
          <% end %>
          <% @leagues.each do |league| %>
          <div class="panel panel-default leagues">
            <div class="panel-body row">
              <div class="col-sm-9 col-xs-12">
                <h2 class="league-name"><%= link_to league.name, league_path(league), class: "league-link" %></h2>
                <div class="stats">
                  <div class="col-sm-4 col-xs-12">
                    <p><%= pluralize(league.seasons_count, "Season") %></p>
                    <p><%= pluralize(league.games_count, "Game") %></p>
                    <p>27 Players</p>
                  </div>
                  <div class="col-sm-4 col-xs-12">
                    <p>Cumulative Pot: $2,765</p>
                    <p>Largest Pot: $975</p>
                    <p>Last Game: Jan 31, 2016</p>
                  </div>
                  <div class="col-sm-4 col-xs-12">
                    <p>League Leader: John S.</p>
                    <p>League Loser: Michael C.</p>
                    <p>Other Stat: Something</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-xs-12">
                <%= link_to "View League", league_path(league), class: "btn btn-poker btn-block" %>
                <button type="button" class="btn btn-poker btn-block" data-toggle="modal" data-target="#scheduleGame">
                  Schedule Game
                </button>
                <%# link_to "Schedule Game", "#", class: "btn btn-poker btn-block" %>
                <%= link_to "Current Season", "#", class: "btn btn-poker btn-block" %>
                <%= link_to "League Settings", "#", class: "btn btn-poker btn-block" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: "games/newmodal", locals: { league: league } %>
<% end %>

<%= render partial: "leagues/newmodal" %>
<%= render partial: "participants/newparticipant" %>
